@tailwind base;
@tailwind components;
@tailwind utilities;

$bg-primary-dark: hsl(243, 100%, 4%);
$text-primary-dark: hsl(0, 0%, 100%);
$bg-primary-light: hsl(0, 0%, 90%);
$text-primary-light: hsl(0, 0%, 12%);
$scrollbar-bg-color: transparent;
$scrollbar-thumb-color: hsl(220, 100%, 30%);

.dark {
  --bg-primary: #{$bg-primary-dark};
  --text-primary: #{$text-primary-dark};
}

.light {
  --bg-primary: #{$bg-primary-light};
  --text-primary: #{$text-primary-light};
}

body {
  background-color: var(--bg-primary);
  color: var(--text-primary);
}

h1,
h2,
p {
  text-wrap: balance;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

ul {
  &::-webkit-scrollbar {
    width: 0.4rem;
  }
  &::-webkit-scrollbar-track {
    background-color: $scrollbar-bg-color;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $scrollbar-thumb-color;
    border-radius: 15%;
  }
}

.selected {
  background-color: hsl(229, 61%, 34%);
  color: hsl(0, 0%, 100%);
}
